/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#container{
    display: grid;
    grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer";
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr;
}